.Catalog {
    margin-top: 60px;
    color: black;

    display: flex;
    flex-direction: column;
}

.books-container {
    width: 60vw;
}

.books-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}